.categorias {
 padding-top: 4em;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 margin-top: 20px;
}

.item-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60px;
    height: 50px;
    background-color: lightgray;
    margin: auto;
    margin-top: 2vh;
    border-radius: 1em;
    font-weight: 700;
    font-size: .75em;
    .fa{
        font-size: 2.25em;
    }
    
}