.fondoRojo {
    background-color: red;
    color:white;
}
.fondoSalmon {
    background-color: rgb(211, 138, 205);
    color: black;
}

.fs-1 {
    font-size: 2rem;
}
.w-100 {
    width: 100%;
}
.d-flex {
    display: flex;
}
.centerX {
    justify-content: center;
}
.certerY {
    align-items: center;
}
.header {
    position: relative;
    height: 40vh;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: .5em;
 
}
.header-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em; 
}

.buscador {
    position: absolute;
    bottom: -1.25em;
    width: 80%;
    left: 10%;
    padding: 0.5em;
    border-radius: 1em;
    gap: 0.5em;
    
    input{
      height: 2.5em;
      border: none; 
      padding: 0 1em;
    border-radius:2em;}
}
.cuadrado {
    width: 2.5em;
    height: 2.5em;
    display: grid;  
    place-items: center;
    color:white
}
button.cuadrado {
    border: none;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
}
.fotoPerfil {
    font-size: 2.5em;
}

.bienvenida{
    position: absolute;
    bottom: 3em;
    width: 80%;
    text-align: left;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    h1, p{
        margin: 0;
    }
}